@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@font-face {
    font-family: "CopperPlateGothic";
    src: url("/fonts/CopperPlateGothic-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CopperPlateGothic";
    src: url("/fonts/CopperPlateGothic-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Antic";
    src: url("/fonts/Antic-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}